<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
</head>
<body>
  <main>
    <div class="container">
      <ul>
      <% if (messages && messages.length > 0) { %>
      <% messages.forEach(function(message) { %>
        <li><%= message.text %></li>
      <% }) %>
      <% } else { %>
        <li>No messages yet</li>
      <% } %>
    </ul>

    </div>
  </main>
</body>
</html>